#Ignore elements from web project

/SaudeBR_WEB/bootstrap/compiled.php
/SaudeBR_WEB/vendor
/SaudeBR_WEB/composer.phar
/SaudeBR_WEB/composer.lock
/SaudeBR_WEB/.DS_Store
/SaudeBR_WEB/Thumbs.db
/SaudeBR_WEB/.idea
/SaudeBR_WEB/.project

#Ignore elements from java project

/DadosAbertos1/build/
